@import '@radix-ui/themes/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout constraints for flexbox layout */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

